
#work{
      padding: 10px 0 60px;
      background: $background_gray;
}
.how_work
{
      margin-top: 40px;
      p{
            margin-top: 15px;
      }
      a{
            color: $royal_blue;
            margin-top: 20px;
      }
      
}
.work_item
{
 .work_img{
      margin-top: 40px;
 }
 h4{
      margin-top: 15px;
 }
 p{
      margin-top: 10px;
 }
}

