
#about-us{
      padding: 100px 0;
      .about_heading{
            margin-bottom: 30px;
      }
      .about_content{
            margin-top: 40px;
            h1{
                  color: $dark_blue;
                  
            }
      }
}