#follow{
      padding: 40px 0 70px 0;
      .follow_item{
            margin-top: 30px;
            .line_Dsign {
                  margin-left: 16px;
                }
                .follow_content {
                  margin-top: 20px;
                }
      }
}