
#mission_dvision{
      background: $deep_gray;
      padding: 20px 0 80px 0;
      .content_item{
            margin-top: 150px;
            h3{
                  padding: 14px 0;
            }
            
          


}
.second{
      margin-left: 80px;
}
}
.content_img{
      margin-top: 80px;
}
