

.weAre_heading{
      background: $smoke_bg;

      padding: 60px 0 60px 72px;
      h3{
            padding: 10px 0;
      }
      .improve_part {
            margin-top: 25px;
          }
    
}

