

$background_blue:#1C1E53;
$background_gray:#F4F6FC;
$smoke_bg:#F4F5F5;
$background_yellow:#FCD980;
$deep_gray:#E5E5E5;
//hover background
$hover_yellow:#FCD980;
$hover_blue:#1C1E53;

// color style
$white:#ffff;
$dark_blue:#282938;
$royal_blue:#2405F2;
$yellow:#FCD980;
$gray:#ECECF1;


